@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root{
    --Cyan: hsl(179, 62%, 43%);
    --Cyan-Black: hsl(179, 62%, 33%);
    --Bright-Yellow: hsl(71, 73%, 54%);
    --Light-Gray: hsl(204, 43%, 93%);
    --Grayish-Blue: hsl(218, 22%, 67%);
}


html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: 'Karla';
    background-color: var(--Light-Gray);
}

h2{
    font-size: 2rem;
}

p{
    font-size: 1.4rem;
    line-height: 2.3rem;
}

.card{
    display: grid;
    padding: 4rem 2rem;
}

/* Join Our Community */

.card__description{ 
    padding: 2rem 2.5rem;
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
    background-color: white;
}

.card__description--title{
    color: var(--Cyan);
}

.card__description--paragraph:nth-child(2){
    font-weight: 700;
    color: var(--Bright-Yellow);
}

.card__description--paragraph:nth-child(3){
    color: var(--Grayish-Blue);
}

/* Montly Subscription */

